-
	let todriver = [
		{
			title: 'Начни зарабатывать',
			text: 'Быстрое увеличение<br> количества заказов'
		},
		{
			title: 'Свободный график',
			text: 'Вы сами решаете,<br> когда принимать заказы.'
		},
		{
			title: 'Быстрые выплаты',
			text: 'Моментальная оплата<br> на банковскую карту'
		},
		{
			title: 'Поддержка',
			text: 'Мы готовы придти<br> на помощь в любое время'
		},
		{
			title: 'Удобный вызов такси',
			text: 'быстрый поиск такси<br>'+
			'с учетом пожеланий<br>'+
			'пассажира'
		},
		{
			title: 'Выгодные тарифы',
			text: 'Экономте на поездках<br>'+
			' вне зависимости<br>'+
			'от расстояния.'
		},
		{
			title: 'Безналичный расчет',
			text: 'Оплачивайте поездку<br>'+
			'банковской картой'
		},
		{
			title: 'Комфорт',
			text: 'Безопасные<br>'+
			'и удобные поездки'
		}
	]
