///*--==[ Ширины]==--*/
$unit : '%';

$mobile: 320;
$mobile-large: 480;
$tablet: 768;
$tablet-large: 1024;
$desktop: 1200;

///*--==[ Размеры шрифтов ]==--*/


///*--==[ Отступы ]==--*/
$col: 0;
$gap: 0;

// --==[ Названия шрифтов]==--
//+font_inc($f_reg,'path')
//$f_reg: ''
//$f_light: ''
//$f_bold: ''
//$f_semibold: ''
//$f_extralight: ''

///*--==[ Цвета ]==--*/
